@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	background-color: black;
	color-scheme: dark;
	overflow: hidden;
}

@layer components {
	.icon {
		@apply h-5 w-5;
	}

	.icon-playback {
		@apply icon cursor-pointer hover:scale-125;
	}
}

@layer utilities {
	.scrollbar-hidden {
		/* Hide scrollbar for Chrome, Safari and Opera */
		::-webkit-scrollbar {
			display: none;
		}

		/* Hide scrollbar for IE, Edge and Firefox */

		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}